<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
{% include nav.html %}
<section id="page_main">
    <header id="header">
        <a href="#sidebar_nav" class="nav_menu open" >&#9776;</a>
        <a href="#" class="nav_menu close" >&#9776;</a>
        <a href="{{ site.baseurl }}{% link index.md %}" class="title">Wayverb</a>
    </header>
    <div class="inner">
        {% include prev_next_nav.html %}
        {{ content }}
        {% include prev_next_nav.html %}
    </div>
    {% include footer.html %}
</section>
</body>
</html>
