<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
{% include nav.html %}
<div id="page_main">
    <header>
        <ul>
            <li class="nav_menu open" >
                <a href="#sidebar_nav">
                    &#9776;
                </a>
            </li>
            <li class="nav_menu close" >
                <a href="#">
                    &#9776;
                </a>
            </li>
            <li>
                <a href="{{ site.baseurl }}{% link index.md %}" >
                    Wayverb
                </a>
            </li>
        </ul>
    </header>
    <div class="inner">
        {% include prev_next_nav.html %}
        {{ content }}
        {% include prev_next_nav.html %}
    </div>
    {% include footer.html %}
</div>
</body>
</html>
