[submodule "submodules/libsndfile"]
	path = submodules/libsndfile
	url = git@github.com:erikd/libsndfile.git
[submodule "submodules/gflags"]
	path = submodules/gflags
	url = git@github.com:gflags/gflags.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = git@github.com:google/googletest.git
[submodule "submodules/glog"]
	path = submodules/glog
	url = git@github.com:google/glog.git
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = git@github.com:assimp/assimp.git
[submodule "submodules/cereal"]
	path = submodules/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "submodules/glm"]
	path = submodules/glm
	url = git@github.com:g-truc/glm.git
[submodule "submodules/modern_gl_utils"]
	path = submodules/modern_gl_utils
	url = git@github.com:reuk/modern_gl_utils.git
[submodule "submodules/hiss"]
	path = submodules/hiss
	url = git@github.com:HISSTools/HISSTools_Impulse_Response_Toolbox.git
