.DS_Store
build
xcproj
Testing
reference
*/output/
demo/impulses
demo/logfile.txt
docs

config/travisci_rsa

apps/wayverb/Builds/MacOSX/Build
apps/impulse/Builds/MacOSX/Build

*.swp

*.wav
*.aiff

compile_commands.json
