.DS_Store
build
lint
xcproj
xc
Testing
reference
*/output/
demo/impulses
demo/logfile.txt
local_docs
docs/.vagrant
docs/_site
docs/doxygen/doxygen_sqlite3.db

config/travisci_rsa

apps/wayverb/Builds/MacOSX/Build
apps/impulse/Builds/MacOSX/Build

*.swp

*.wav
*.aiff
*~.skp
*.log

compile_commands.json
build_log.txt
