.DS_Store
build
xcproj
Testing
reference
tests/boundary_test/output
tests/hybrid_test/output
tests/mic_test/output
demo/impulses
demo/logfile.txt
docs

config/travisci_rsa

wayverb/Builds/MacOSX/Build

*.swp

compile_commands.json
