[submodule "submodules/libsndfile"]
	path = submodules/libsndfile
	url = git@github.com:erikd/libsndfile.git
[submodule "submodules/gflags"]
	path = submodules/gflags
	url = git@github.com:gflags/gflags.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = git@github.com:google/googletest.git
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = git@github.com:assimp/assimp.git
[submodule "submodules/cereal"]
	path = submodules/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "submodules/glm"]
	path = submodules/glm
	url = git@github.com:g-truc/glm.git
[submodule "submodules/modern_gl_utils"]
	path = submodules/modern_gl_utils
	url = git@github.com:reuk/modern_gl_utils.git
[submodule "submodules/ConvolutionComponent"]
	path = submodules/ConvolutionComponent
	url = git@github.com:reuk/ConvolutionComponent.git
[submodule "submodules/UtilityComponents"]
	path = submodules/UtilityComponents
	url = git@github.com:reuk/UtilityComponents.git
[submodule "submodules/JUCE"]
	path = submodules/JUCE
	url = git@github.com:julianstorer/JUCE.git
[submodule "submodules/DataBinding"]
	path = submodules/DataBinding
	url = git@github.com:reuk/DataBinding.git
