#page_main {
    position: relative;

    left: 0;
    margin-left: $sidebar_open_width;

    transition: left 0.4s ease, margin-left 0.4s ease;

    @include breakpoint(medium) {
        margin-left: 0;
    }

    > .inner {
        @include padding(5em, 5em);
        max-width: 60em;

        @include breakpoint(small) {
            @include padding(2em, 2em);
        }
    }

    #refs {
        $hanging-indent: 4em;

        font-size: 80%;
        padding-left: $hanging-indent;
        text-indent: -$hanging-indent;
    }
}
