header {
    background-color: _palette(accent1);
    padding: 1em 1em;

    font-size: 1.25em;
    font-weight: bold;

    display: none;
    @include breakpoint(medium) {
        display: block;
    }

    ul {
        padding: 0;
        margin: 0;

        > li {
            display: inline-block;
            margin: 0em 2em 0em 0em;

            > a {
                border: 0;
            }
        }
    }

    .nav_menu {
        display: none;

        &.open {
            @include breakpoint(medium) {
                display: inline-block;
            }
        }
    }
}
